[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=telepathy_launcher
X-KDE-DBus-ModuleName=telepathy_launcher
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
X-KDE-Kded-load-on-demand=false
Name=Telepathy Launcher
Name[da]=Telepathy-starter
Name[en_GB]=Telepathy Launcher
Name[es]=Lanzador de Telepathy
Name[km]=កម្មវិធី​ដំណើរ​ការ​ទូរ​វេទន៍
Name[pa]=ਟੈਲੀਪੈਂਥੀ ਲਾਂਚਰ
Name[pt]=Lançamento do Telepathy
Name[pt_BR]=Lançador do Telepathy
Name[sv]=Startprogram för Telepathy
Name[tr]=Telepathy Çalıştırıcı
Name[uk]=Інструмент запуску Telepathy
Name[x-test]=xxTelepathy Launcherxx
Comment=A tool to make sure Telepathy infrastructure components needed by the KDE session are running
Comment[da]=Et værktøj til at sikre at de Telepathy-infrastrukturkomponenter som behøves af en KDE-session kører
Comment[en_GB]=A tool to make sure Telepathy infrastructure components needed by the KDE session are running
Comment[es]=Una herramienta para asegurar que se están ejecutando los componentes de la infraestructura Telepathy que necesita la sesión de KDE
Comment[km]=ឧបករណ៍​ដែល​ត្រូវ​បង្កើត​សមាសភាគ​ហេដ្ឋារចនា​សម្ព័ន្ធ​​ទូរវេទន៍​ដែល​ទាម​ទារ​ដោយ​សម័យ​  KDE ​កំពុង​តែ​ដំណើរការ
Comment[pt]=Uma ferramenta para garantir que os componentes de infra-estrutura necessários para a sessão do KDE estão em execução
Comment[pt_BR]=Uma ferramenta para garantir que os componentes de infraestrutura necessários para a sessão do KDE estão em execução
Comment[sv]=Ett verktyg för att försäkra att infrastrukturkomponenterna i Telepathy som behövs av KDE-sessionen kör
Comment[uk]=Інструмент для запуску компонентів інфраструктури Telepathy, потрібних для сеансу KDE
Comment[x-test]=xxA tool to make sure Telepathy infrastructure components needed by the KDE session are runningxx

