[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=telepathy_launcher
X-KDE-DBus-ModuleName=telepathy_launcher
X-KDE-Kded-autoload=true
X-KDE-Kded-phase=2
X-KDE-Kded-load-on-demand=false
Name=Telepathy Launcher
Name[cs]=Spouštěč Telepathy
Name[da]=Telepathy-starter
Name[de]=Telepathy-Starter
Name[es]=Lanzador de Telepathy
Name[et]=Telepathy käivitaja
Name[fi]=Telepathy-käynnistin
Name[fr]=Lanceur pour Telepathy
Name[ga]=Tosaitheoir Telepathy
Name[gl]=Iniciador do Telepathy
Name[hu]=Telepathy indító
Name[it]=Avviatore di Telepathy
Name[km]=កម្មវិធី​បើក​ដំណើរ​ការ​ទូរវេទន៍
Name[lt]=Telepathy leidiklis
Name[mr]=टेलिपथी प्रक्षेपक
Name[nds]=Starter för Telepathy
Name[nl]=Startprogramma van telepathie
Name[pl]=Aktywator Telepathy
Name[pt]=Lançador do Telepathy
Name[pt_BR]=Lançador do Telepathy
Name[ru]=Инструмент запуска Telepathy
Name[sk]=Spúšťač Tepelathy
Name[sv]=Startprogram för Telepathy
Name[tr]=Telepathy Başlatıcı
Name[uk]=Інструмент запуску Telepathy
Name[x-test]=xxTelepathy Launcherxx
Comment=A tool to make sure Telepathy infrastructure components needed by the KDE session are running
Comment[cs]=Nástroj k zajištění běhu všech komponent infrastruktury Telepathy, které jsou potřeba pro sezení KDE.
Comment[da]=Et værktøj til at sikre at de Telepathy-infrastrukturkomponenter som behøves af en KDE-session kører
Comment[es]=Una herramienta para asegurar que se estén ejecutando componentes de sesión de KDE necesarios para la infraestructura de Telepathy.
Comment[et]=Tööriist tagamaks, et KDE seansiks vajalikud Telepathy taristu komponendid töötavad
Comment[fi]=Työkalu, jonka tarkoitus on varmistaa kaikkien KDE:n tarvitsemien Telepathy-osien käynnissä oleminen
Comment[fr]=Un outil pour s'assurer que les composants de l'infrastructure Telepathy requis par la session KDE sont en cours de fonctionnement
Comment[ga]=Uirlis a dheimhníonn go bhfuil comhpháirteanna infreastruchtúir Telepathy a theastaíonn ó KDE ar siúl
Comment[gl]=Unha ferramenta para asegurarse de que se están a executar os compoñentes da infraestrutura do Telepathy que precisa a sesión do KDE
Comment[hu]=Segédprogram a KDE munkamenet által igényelt Telepathy komponenseks futásának ellenőrzésére
Comment[it]=Strumento necessario per assicurarsi che i componenti di Telepathy richiesti dalla sessione di KDE siano caricati
Comment[km]=កម្មវិធី​សម្រាប់​ធ្វើ​ឲ្យ​ប្រាកដ​ថា​សមាសភាគ​រចនាសម្ព័ន្ធ​ទូរវេទន៍​ត្រូវ​បាន​ទាម​ទារ​ដោយ​សម័យ​របស់​ KDE ដែល​កំពុង​រត់
Comment[lt]=Įrankis, kuris užtikrina, kad Telepathy infrastruktūros komponentai, reikalingi KDE sesijai, veiks
Comment[nl]=Een hulpmiddel om er zeker van te zijn dat Telepathy infrastructuurcomponenten, die nodig zijn in de KDE-sessie, actief zijn
Comment[pl]=Narzędzie zapewniające to, że składniki infrastruktury Telepathy potrzebne przez sesję KDE są uruchomione
Comment[pt]=Uma ferramenta que garante que os componentes de infra-estrutura do Telepathy necessários pela sessão do KDE estão em execução
Comment[pt_BR]=Uma ferramenta para garantir que os componentes de infraestrutura necessários para a sessão do KDE estão em execução
Comment[ru]=Инструмент для запуска компонентов инфраструктуры Telepathy, необходимых для сеанса KDE
Comment[sk]=Nástroj na uistenie, že komponenty infraštruktúry Telepathy potrebné pre KDE sedenie bežia
Comment[sv]=Ett verktyg för att försäkra att infrastrukturkomponenterna i Telepathy som behövs av KDE-sessionen kör
Comment[tr]=KDE oturumu tarafından gerekli Telepathy altyapı bileşenlerinin çalıştığını kontrol eden bir araç
Comment[uk]=Інструмент для запуску компонентів інфраструктури Telepathy, потрібних для сеансу KDE
Comment[x-test]=xxA tool to make sure Telepathy infrastructure components needed by the KDE session are runningxx

